<launch>

  <include file="$(find sentinel_drone)/launch/whycon.launch" />
  <include file="$(find sentinel_drone)/launch/usb_cam-test.launch" />
  <include file="$(find plotjuggler_ros)/launch/plotjuggler.launch" />

  <node name="pid_tune" pkg="pid_tune" type="pid_tune_drone.py" />
  <node ns = "whycon_display" name="image_view" type="image_view" pkg="image_view" output="screen">
    <remap from="image" to="/whycon/image_out"/>
  </node>

  <node name="rosbag_record_controller" pkg="rosbag" type="record"
       args="record -O $(find sentinel_drone)/scripts/$(arg rec_name) --duration=$(arg duration) --chunksize=10 /whycon/poses" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>

  <node pkg="sentinel_drone" type="controller.py" name="position_hold" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>

</launch>

